* {
  margin: 0;
  padding: 0; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #Ba2652;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 3.25rem; }

.search {
  background-color: orangered; }
  .search__icon {
    width: 2rem;
    height: 2rem; }

.user-nav {
  background-color: greenyellow; }
  .user-nav__icon {
    width: 2.25rem;
    height: 2.25rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  background-color: orangered;
  flex: 1; }
